<div class="page-header">
  <%= link_to post_path(@rating.post), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New rating</h1>
</div>

<%= render 'form' %>
